@media (max-width: 1919px) {
    /* common */
    .container {
        padding: 0 50px;
    }

    .btn--primary {
        padding: 13px 28px;
        font-size: 11px;
    }

    .section__title {
        font-size: 60px;
    }

    /* hero */
    .header__logo {
        width: 50px;
    }

    .header__nav-list {
        gap: 14px;
    }

    .hero__learn-more--wrapper {
        width: 70px;
        height: 70px;
    }

    .btn--header {
        font-size: 9px;
    }

    .hero__learn-more--wrapper svg {
        width: 16px;
    }

    .hero__learn-more--wrapper span {
        font-size: 12px;
    }

    .hero__glass {
        height: 400px;
    }

    .hero__top-inner--wrapper {
        width: 100%;
    }

    .header__nav-list li a {
        font-size: 12px;
    }

    .hero__title {
        font-size: 90px;
        max-width: 700px;
    }

    .btn--header {
        padding: 10px 13px;
    }

    .hero__desc {
        font-size: 13px;
        max-width: 363px;
    }

    .hero__tagline {
        font-size: 27px;
        max-width: 227px;
    }

    .btn--primary {
        padding: 13px 22px;
    }

    /* about */
    .about__title {
        line-height: 1;
    }

    .about__label {
        font-size: 13px;
    }

    .about__text {
        max-width: 522px;
        font-size: 13px;
    }

    .about__text--bottom {
        max-width: 540px;
    }

    .about__left {
        padding: 70px 40px;
        gap: 22px;
    }

    .about {
        padding: 60px 0;
    }

    /* looks */
    .looks__card {
        padding: 15px;
        width: 50%;
        min-height: 400px;
    }

    .looks__card-name {
        font-size: 20px;
    }

    .looks__card-desc {
        font-size: 13px;
    }

    .looks__title {
        padding-top: 100px;
    }

    .looks__inner {
        padding-bottom: 100px;
    }

    .looks__cards {
        gap: 100px;
    }

    /* collection */
    .collection {
        padding: 60px 0;
        padding-bottom: 120px;
    }

    /* footer */

    .footer__col-title {
        font-size: 25px;
    }

    .footer__col-links a {
        font-size: 12px;
    }

    /* catalog */
    .catalog {
        padding: 120px 0;
    }

    /* power */
    .power__right-desc {
        font-size: 14px;
        max-width: 440px;
    }

    .power__left-title {
        font-size: 60px;
    }

    .power__left-desc {
        font-size: 14px;
        max-width: 380px;
    }

    .catalog__desc {
        max-width: 470px;
    }
}

@media (max-width: 1620px) {
    .hero__top-divider {
        width: 93%;
    }

    .footer__col {
        flex: none;
    }

    .footer__nav {
        flex: none;
    }

    .footer__inner {
        gap: 0;
    }

    /* .footer__nav {
    flex: 1;
    display: flex;
    gap: 40px;
    } */

    .power__grid {
        margin-bottom: 30px;
    }
}

@media (max-width: 1170px) {
    .container {
        padding: 0 30px;
    }

    .offcanvas__btn {
        justify-content: space-between;
    }

    .hero__info, .hero__indicators, .hero__learn-more {
        display: none;
    }

    .hero__bottom-wrapper {
        width: 100%;
        justify-content: space-between;
    }

    .header__nav,
    .btn--header {
        display: none;
    }

    .burger {
        display: flex;
    }

    .hero__title {
        font-size: 70px;
        max-width: 500px;
    }

    .hero__top-inner {
        padding-bottom: 20px;
    }

    .hero__top-divider {
        width: 45%;
        height: 7px;
    }

    .hero__top-divider::before {
        clip-path: none;
        top: auto;
        bottom: 0;
        height: 1px;
        transform: none;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about__right, .about__left {
        width: 100%;
    }

    .power {
        flex-direction: column-reverse;
        align-items: center;
    }

    .power__right, .power__left {
        width: 100%;
        align-items: center;
    }

    .power__right-title {
        text-align: center;
    }

    .power__right-desc {
        text-align: center;
    }

    .power__left-content {
        bottom: 30px;
        left: 30px;
    }

    .catalog-swiper .swiper-slide {
        width: 400px;
    }

    .looks__cards {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;
        display: none;
    }

    .looks__inner {
        padding: 120px 30px;
    }

    .looks__cards--mobile {
        display: flex;
    }

    .looks__cards-mobile-section {
        display: block;
    }

    .catalog {
        display: none;
    }

    .catalog-mobile {
        display: block;
        padding: 120px 0;
        padding-bottom: 0;
    }

    .catalog__title {
        margin-top: 0 !important;
    }

    .catalog__top-divider {
        margin-bottom: 0;
    }

    .catalog-swiper-mobile .swiper-wrapper {
        padding-left: 30px;
        margin-bottom: 20px;
    }

    .catalog-mobile__nav {
        border-top: 1.34px dashed rgba(177, 154, 137, 0.55);
        border-bottom: none;
        padding-bottom: 120px;
    }

    .catalog-mobile__top-divider {
        margin-bottom: 30px;
    }

    .catalog-swiper-mobile .swiper-slide {
        width: 400px !important;
    }

    .collection__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .collection__grid > *:last-child:nth-child(2n+1) {
        grid-column: 1 / -1;
        justify-self: center;
        width: 50%;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
        gap: 30px
    }

    .footer__nav {
        flex-wrap: wrap;
        justify-content: center;
    }

     .popup {
        padding: 90px 20px 90px 20px;
    }
}

@media (max-width: 800px) {
    .hero__top {
        padding-top: 100px;
    }  
    
    .hero__title {
        font-size: 50px;
        max-width: 300px;
    }

    .hero__glass {
        left: 100%;
        top: 60%;
    }

    .hero__top-divider {
        width: 50%;
    }

    .power__grid, .power__divider {
        display: none;
    }

    .power__right, .power__left {
        align-items: start;
    }

    .power__right-title, .power__right-desc {
        text-align: start;
    }

    .collection__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .collection__grid > *:last-child:nth-child(2n+1) {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .burger {
        width: 26px;
        height: 26px;
    }

    .burger svg {
    width: auto;
    height: auto;
    }

    .btn--primary {
        padding: 18px 33px;
    }

    .container {
        padding: 0 15px;
    }

    .hero__top {
        padding-top: 30px;
    }

    .hero__top-divider {
        width: 58%;
    }

    .hero__bottom {
        padding-bottom: 40px;
    }

    .hero__title {
        font-size: 45px;
    } 

    .hero__top-inner {
        padding-bottom: 20px;
    }

    .hero__bottom-wrapper {
        flex-direction: column;
        gap: 30px;
        align-items: start;
    }

    .about {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about__left {
        padding-top: 0;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 70px;
        gap: 0;
    }

    .about__label {
        margin-bottom: 22px;
    }

    .about__title {
        max-width: 222px;
        margin-bottom: 30px;
    }

    .about__text {
        margin-bottom: 50px;
    }

    .about__img {
        margin-bottom: 50px;
    }

    .collection {
        padding-top: 0;
    }

    .collection__title {
        max-width: 222px;
    }

    .collection__header {
        margin-bottom: 30px;
    }

    .collection__card-tag {
        font-size: 10px;
    }

    .collection__grid {
        gap: 40px;
    }

    .looks__cards-left, .looks__cards-right {
        flex-direction: column;
        width: 100%;
    }

    .looks__cards-mobile-section {
    min-height: 1070px;
    position: relative;
    }

    .looks__title {
        max-width: 251px;
    }

    .looks {
        align-items: center;
        min-height: 1220px;
    }

    .looks__inner {
    position: relative;
    right: 15px;
    padding: 0 30px;
    }

    .looks__cards--mobile {
        position: absolute;
        top: -372px;
    }

    .looks__card {
        max-width: 100%;
        width: 100%;
        justify-content: flex-end;
        min-height: 330px;
    }

    .looks__card-top {
        display: none;
    }

    .power__svg {
        display: none;
    }

    .power__svg-mobile {
        display: block;
    }

    .section__title {
        font-size: 45px;
    }

    .power__right {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 70px;
    }

    .power__right-title {
        font-size: 45px;
    }

    .power__right-desc {
        font-size: 13px;
        margin-bottom: 70px;
        max-width: 293px;
    }

    .power__svg-mobile {
        align-self: center;
    }

    .power__left-title {
        font-size: 45px;
    }

    .power__left-desc {
        font-size: 13px;
        max-width: 275px;
    }

    .power__left-content {
        bottom: 30px;
        left: 15px;
    }

    .power__btn {
        margin-bottom: 147px;
    }

    .catalog-mobile {
        padding-top: 70px;
    }

    .catalog__title {
        font-size: 45px;
    }

    .catalog-mobile .catalog__desc{
        font-size: 13px;
        margin-bottom: 50px;
        max-width: 293px;
    }

    .catalog-swiper-mobile .swiper-slide {
        width: 228px !important;
    }

    .offcanvas {
        justify-content: space-between;
    }

    .footer__inner {
        display: none;
    }

    .footer__inner--mobile {
        display: flex;
    }

    .footer__logo img {
    width: 74px;
    }

    .footer__col-links a {
        font-size: 11px;
    }

    .footer__col-links {
        gap: 0;
    }

    .popup__title {
        font-size: 40px;
    }

    .popup__close {
        top: 15px;
        right: 15px;
    }
/* 
    .collection__card-img {
    aspect-ratio: inherit;
    } */

    .collection__card-img img {
    object-fit: inherit;
}

.looks__card--first p {
    max-width: 262px;
}

.looks__card--third p {
    max-width: 267px;
}

.looks__card--fourth p {
    max-width: 234px;
}
}